@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #A69260;
  --secondary-Color: #CBB470;
  --main-black: #272829;
  --main-white: #DFDDD6;
  --main-font: 'Stardos Stencil', cursive;
  --mainTransition: all 0.25s ease-in-out;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
html {
  position: relative;
  min-height: 100%;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  background: var(--primary-color);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  margin: 15px;
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--main-black);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.15rem;
  font-weight: 600;
  font-family: var(--main-font);
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--main-white);
}

.show-nav {
  height: 510px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 24em;
    padding: 2.3rem 8rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */

.overlay {
  background: url('./images/img2.jpg') center/cover ;
}

section {
  width: 100%;
  display: table;
  margin-top: -30px;
  max-width: none;
  height: 100vh;
}

.intro {
  opacity: 0.95;
  height: 125vh;
  padding-top: 30px;
}

.content {
  display: table-cell;
  vertical-align: middle;
  z-index: 100;
  color: var(--mainwhite);
  font-size: 1.5rem;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  background: rgba(206, 206, 206, 0.048);
}

.content h1 {
  background-color: var(--secondary-Color);
  padding-top: 8px;
  font-family: var(--main-font);
  font-size: 50px;
  line-height: 95px;
  text-align: center;
}

.intro .content h4 {
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--secondary-Color);
  font-family: var(--main-font);
}


#contact {
  margin-bottom: 335px;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  background:var(--main-white);
}

.footer-distributed{
	box-sizing: border-box;
  width: 100%;
  height: 335px;
	text-align: left;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 700;
  padding: 50px 80px 10px ;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
  vertical-align: top;
  margin-bottom: -35px;
}

.footer-distributed .footer-left{
  width: 20%;
  height: 270px;
  text-align: center;
}

.footer-distributed .footer-links{
  color:  var(--font-color);
  font-size: 1.3rem;
  width: 35%;
  font-weight: 500;
  margin: 20px auto;
}

.footer-distributed .footer-links a{
	display:block;
	line-height: 1.55;
  text-decoration: none;
  margin: 4px;
  color:  var(--font-color);
  transition: var(--maintransition);
}

.footer-distributed .footer-links a:hover {
  transform: scale(1.13);
}

.footer-distributed .footer-company-name{
	color:  var(--font-color);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-center{
  font-family: var(--main-font);
  width: 45%;
  text-align: center;
  padding-top: 10px;
  height: 270px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: var(--font-color);
	vertical-align: middle;
  padding: 20px 35px;
}

.footer-center .part {
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: 20px;
}

.footer-distributed .footer-center .part a{
	color:  var(--font-color);
  text-decoration: none;
  transition: var(--maintransition);
  text-decoration: underline;
  cursor: pointer;
}

.footer-distributed .footer-center .part a:hover {
  color: var(--mainwhite);
  opacity: 0.6;
}

.footer-distributed .footer-right{
  width: 35%;
  height: 180px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 400;
  padding: 10px;
}

.footer-distributed a:hover {
  color: var(--mainwhite);
}

.footer-distributed .footer-icons{
  margin-top: 30px;
}

.footer-distributed .footer-icons a{
  text-decoration: none;
	display: inline-block;
	width: 60px;
	height: 58px;
	cursor: pointer;
	font-size: 25px;
	color: var(--font-color);
	text-align: center;
	margin-right: 10px;
  padding: 11px 1px;
  border: 1.5px solid var(--main-black);
  border-radius: 30px;
  transition: var(--mainTransition);
}

.footer-distributed .footer-icons a:hover {
  color: var(--mainwhite);
  border: 1px solid var(--main-white);
}

@media (max-width: 1135px) {
  footer {
    margin-bottom: -200px;
  }
}

@media (max-width: 1134px) {
  footer {
    margin-bottom: -250px;
  }
}

@media (max-width: 880px) {
  footer {
    margin-bottom: -585px;
  }

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
}

footer .footer-bottom {
  color:var(--font-color);
  height: 45px;
  font-family: var(--font-2);
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
}

